{% load static %}

 <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}" />

    <!--Slider-->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
