{% load static %}

 <!-- javascript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/underscore-min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!-- selectize js -->
    <script src="{% static 'js/selectize.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/counter.int.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>